.jiraya-title {
    font-size: 60px;
    text-align: center;
    font-weight: normal;
    font-family: cursive; 
    margin: 60px 0;
    color: red;
}

.story-title {
    font-weight: normal;
    font-style: italic;
    font-size: 30px;
    margin: 15px 0;
    text-align: center;
    color: #333

}
.row    {
    display: flex; 
    align-items: stretch;
    
}
.story {
    border: 1px solid#333;   
    padding: 5px;
    color: rgba(37, 16, 231, 0.979);
    
}

.story-text{
    line-height: 1.5;
    font-size: 18px;
}
.quarter {
    width: 25%;
  
   ]

}

.half {
    width: 50%;


}

.story-img {
    width: 100%;
    
}
.three-quarter {
    width: 75%;

}
.jutsu-list {
    display: flex;
    flex-direction: column;

}
.jutsu-item {
    width: 100%;
    flex: 1;

}
.jutsu-item:nth-child(1) { background-color: green; }
.jutsu-item:nth-child(2) { background-color: crimson; }
.jutsu-item:nth-child(3) { background-color: blue; }
.jutsu-item:nth-child(4){ background-color: violet; }
.jutsu-item:nth-child(5){ background-color: burlywood; }